<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CompangMapper">
    <select id="findById" parameterType="int" resultType="compang">
        select * from t_compang where id=#{id}
    </select>

    <select id="findAllCompang" resultType="compang">
        select * from t_compang
    </select>

</mapper>